// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu:400,700');

body {
  position: relative;
  background: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  margin: 0;
  overflow: hidden;

  .hidden-title {
    display: none;
  }

  .main-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(42deg, #00e0ff, #00ffb3);

    .gradient-background {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: 100;
      display: none;
    }

    .html-content {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10000;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px;
      color: white;
      letter-spacing: 0.5px;

      a {
        color: white;
        transition: 0.2s;
        border-left: 0px solid white;
      }

      a:link {

      }

      a:hover {
        text-decoration: none;
        color: #390583;
        border-left: 10px solid #390583;
        padding-left: 5px;
      }

      .container {
        .logo {
          margin-top: 40px;
          width: 90px;
          height: 90px;
        }

        .title {
          width: 430px;
          font-size: 90px;
          @media only screen and (max-width: 640px), (max-height: 460px) {
            font-size: 60px;
            line-height: 55px;
            margin-top: 20px;
            width: 300px;
          }
          font-family: 'Ubuntu', sans-serif;
          font-weight: 700;
          background-image: -webkit-linear-gradient(42deg, #360083, #ff0073, #ffd600);
          mix-blend-mode: overlay;
          background-size: contain;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.8;
          line-height: 85px;
          margin-top: 40px;
        }

        .about-button {
          display: inline-block;
          float: right;
          margin-top: 55px;
          cursor: pointer;
          text-align: right;
          user-select: none;
          overflow: hidden;

          p {
            display: inline-block;
            transition: 0.2s;
            overflow: hidden;
          }
        }

        .about-button:hover {
          p {
            border-bottom: 2px solid white;
          }
        }

        .about-button:active {
          p {
            border-bottom: 0px solid white;
          }
        }

        .about-row {
          display: none;
          margin-top: 20px;

          .about-content {
            h1 {
              font-family: 'Ubuntu', sans-serif;
              font-weight: 700;
              font-size: 76px;
              @media only screen and (max-width: 760px) {
                font-size: 50px;
              }
              margin-bottom: 10px;
            }

            p {
              font-family: 'Roboto Slab', serif;
            }
          }

          .sidebar-content {
            img {
              width: 180px;
              margin-top: 25px;
              margin-bottom: 40px;
            }

            .copyright {
              font-size: 12px;
            }
          }
        }
      }
    }

    .close-button {
      position: fixed;
      bottom: 20px;
      left: 50%;
      margin-left: -60px * 0.5;
      width: 60px;
      height: 60px;
      display: none;
      cursor: pointer;
      transform-origin: center;
      z-index: 100;

      line, path, circle {
        transform-origin: center;
      }
    }

    .instructions {
      position: absolute;
      width: 100%;
      bottom: 40px;
      z-index: 10000;
      opacity: 0;

      @media only screen and (max-height: 400px) {
        display: none;
      }

      .flex-container {

        p {
          color: white;
          font-size: 12px;
          font-family: 'Roboto Slab', serif;
          text-shadow: 0px 0px 30px #fc097e;
          letter-spacing: 0.5px;
          opacity: 0.8;
          max-width: 400px;
        }
      }
    }

    .css3d-renderer {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 60;
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */

      .project-text {
        width: 400px;
        overflow-x: visible;

        .project-title {
          font-family: 'Ubuntu', sans-serif;
          font-weight: 700;
          font-size: 64px;
          line-height: 60px;
          opacity: 0.8;
          background: -webkit-linear-gradient(42deg, #5100c6, #ff0073, #ffd600);
          mix-blend-mode: overlay;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          width: 450px;
          padding-bottom: 20px;
          margin-left: -5px;
        }

        .project-body {
          font-family: 'Roboto Slab', serif;
          font-size: 10px;
          line-height: 17px;
          letter-spacing: 0.3px;
          width : 400px;
          color: white;
          text-shadow: 0px 0px 20px black;
        }
      }
    }

    canvas {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 50;
      opacity: 0;
    }
  }
}

.disable-events {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  overflow-y: none;
}

.enable-events {
  pointer-events: all;
  -webkit-user-select: all; /* Safari */
  -moz-user-select: all; /* Firefox */
  -ms-user-select: all; /* IE10+/Edge */
  user-select: all; /* Standard */

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
